
/* body{ */
   /* background-image: url("https://wallpaperaccess.com/full/984377.jpg");*/
    
    /* background-position: center top;
    background-size: 100% auto;
    background-attachment: scroll;
    background-size: cover;
    
  }
  .heading{
    font-family: "Copperplate";
    color:white;
    font-weight: 15%;
    font-size: 400%;
    margin-right: 10%;
}


.lform{
  height: 40%;
  width: 35%;
  background-color: white;
  padding: 4%;

  margin-left:23%;
  border-radius: 2%;
} */

/* .lform input{
  margin: 2%;
}
.headingbottom{
  font-family: Arial
}

.cac{
  margin-top: 1;
} */

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.overlay {
  background: rgb(255, 255, 255,0.5);
  position: absolute;
  height: 55%;
  left: 0;
  right: 0;
  width: 30%;
  max-width: 45em;
  margin: auto auto 1em;
  margin-top: 8%;
  box-sizing: border-box;
  padding: 2em;
  line-height: 1.5;
  text-align: center;
  border-radius: 2%;
}

.loginheadings{
  color:rgb(93, 90, 90);
}
.loginbutton{
  margin-left: 2%;
}