
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.overlay {
  background: rgb(255, 255, 255,0.5);
  position: absolute;
  height: 75%;
  left: 0;
  right: 0;
  width: 30%;
  max-width: 45em;
  margin: auto auto 1em;
  margin-top: 5%;
  box-sizing: border-box;
  padding: 2em;
  line-height: 1.5;
  text-align: center;
  border-radius: 2%;
}
.overlay10 {
  background: rgb(255, 255, 255,0.5);
  position: absolute;
  height: 92%;
  left: 0;
  right: 0;
  width: 30%;
  max-width: 45em;
  margin: auto auto 1em;
  margin-top: 5%;
  margin-top: 2%;
  box-sizing: border-box;
  padding: 2em;
  line-height: 1.5;
  text-align: center;
  border-radius: 2%;
}

.loginheadings{
  color:rgb(93, 90, 90);
}
.loginbutton{
  margin-left: 2%;
}