<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to bigapple.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up  & we are soo happy you are here.
      Now onwards you will get regular updates about the app.Feel free to 
      email back for any issues.
    </p>
   
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
