
body{
    background-image: url("https://wallpaperaccess.com/full/984377.jpg");
    
    background-position: center top;
    background-size: 100% auto;
    background-attachment: scroll;
    background-size: cover;
    
  }
  .heading{
    font-family: "Copperplate";
    color:white;
    font-weight: 15%;
    font-size: 400%;
    margin-right: 10%;
}


.lform{
  height: 40%;
  width: 35%;
  background-color: white;
  padding: 4%;

  margin-left:23%;
  border-radius: 2%;
}

.lform input{
  margin: 2%;
}
.headingbottom{
  font-family: Arial
}

.cac{
  margin-top: 1;
}